.why-me {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
}

@media all and (max-width: 480px) {
  .why-me {
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
      color: white;
      border: 0.2rem solid white;
      padding: 1rem;
    }

    p {
      color: white;
      font-style: italic;
      font-weight: bold;
      font-size: 1rem;
      margin-top: 2rem;
      margin: 2rem;
      text-align: center;
    }
  }
}

// @media all and (max-width: 839px) { ... } 

// @media all and (max-width: 1024px) { ... } 