.why-me {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 1rem;

  > h1 {
    color: white;
    border: 0.2rem solid white;
    padding: 0.8rem;
    text-align: center;
    align-self: center;
  }

  p {
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    margin: 2rem;
    text-align: center;
  }
}

.philosophy {
  display: flex;
  width: 95vw;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinny-icon {
  align-self: center;
}

@media all and (min-width: 240px) {
  .why-me {
    // > h1 {
    //   font-size: 0.8rem;
    // }
  }

  #philosophy-row {
    display: flex;
    flex-direction: column;

    .philosophy {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > div.spinny-icon {
        width: 5rem;
      }
    }
  }
}

@media all and (min-width: 767px) {
  #philosophy-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .philosophy {
      display: flex;
      // justify-content: space-evenly;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      color: #fff;
    }
  }
} 

@media all and (max-width: 1024px) {  } 